body *{
    /*every element within the body */
    background-color: #EDFAFF;
}

h1 {
    font: 30px black;
    font-weight: bolder;
    text-align: center;
}

section h2 {
    font: 24px red;
    font-weight: bolder;
}

section img {
    width: 50%;
}

header {
    border: .1px  gray;
    margin: 5px;
    padding: 10px;
}

section {
    border: .1px solid gray;
    margin: 10px 5px;
    padding: 2px;
}

article {
    width: 30%;
    float: left;
    margin: 5px;
    padding: 10px;
}

article:nth-child(1), article:nth-child(2) {
    margin-right: 5%;
}

article img, article ul, article h2 {
    width: 75%;
    margin: 10px auto 5px auto;
    display: block;
}

ul {
    list-style-type: circle;

}

ol {
    list-style-type:decimal;
}